<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RPN Calculator</title>
        <link rel="stylesheet" href="/static/calculator/calculator.css">
    </head>
    
    <body>
        <div id="output" class="output" style="background-color: {{color}}">
            {{output}}
        </div>
        <form method = "POST" action = "/">
        <table>
            <tr><td><button id="key-7" name="button" value="7">7</button></td>
                <td><button id="key-8" name="button" value="8">8</button></td>
                <td><button id="key-9" name="button" value="9">9</button></td>
                <td><button class = "op" id="key-plus" name="button" value="plus">&plus;</button></td></tr>
            <tr><td><button id="key-4" name="button" value="4">4</button></td>
                <td><button id="key-5" name="button" value="5">5</button></td>
                <td><button id="key-6" name="button" value="6">6</button></td>
                <td><button class = "op" id="key-minus" name="button" value="minus">&minus;</button></td></tr>
            <tr><td><button id="key-1" name="button" value="1">1</button></td>
                <td><button id="key-2" name="button" value="2">2 </button></td>
                <td><button id="key-3" name="button" value="3">3</button></td>
                <td><button class = "op" id="key-times" name="button" value="times">&times;</button></td></tr>
            <tr><td></td>
                <td><button id="key-0" name="button" value="0">0</button></td>
                <td><button class = "op" id="key-push" name="button" value="push">&uarr;</button></td>
                <td><button class = "op" id="key-divide" name="button" value="divide">&divide;</button></td></tr>
        </table>
        <input type="hidden" name="stack" value="{{stack}}">
        <input type="hidden" name="entering" value="{{entering}}">
        {% csrf_token %}
        </form>
    </body>
</html>